.fit-image{
    width: 100%;
    object-fit: cover;
    height: 480px; /* only if you want fixed height */
    }

.row{
    margin: 10px;
}

.col{
    margin: 4px;
    width: 45%;
}

h1{
    color: #73022C;
}

p{
    color: #595948;
}
