
:root {
    --main-bg-color: #D3C6B7;
    --main-tx-color: #A0A698
  }

header{
  background-color: #eeeeee ;
}

html{
  overflow-x:hidden;
  box-sizing: border-box;
}

body{
    background-color: var(--main-bg-color);
    background-size: cover;
    color: var(--main-tx-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.tema-1 { color: #73022C; }
.tema-2 { color: #BF7D65; }
.tema-3 { color: #595948; }
.tema-4 { color: #A0A698; }
.tema-5 { color: #D3C6B7; }



.menu {
  width: 100%;
  background-color: #f2f2f2;
  overflow: auto;
  border: 2px;
  margin: 0;
  margin-bottom: 0;
}

.menu a {
  width: auto;
  float: left;
  color: #73022C;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;  
}

.menu a:hover {
  background-color: var(--main-bg-color);
  color: var(--main-tx-color);
}

.menu a.active {
  
  background-color: #73022C;
  color: white;
  border: 2px; 
}

.jumbotron{
  margin-bottom: 0;
  margin-top: -1.3rem;
}

.jumbotron-fluid{
  background-image: url('images/book3.jpg');
  height:350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.jumbotron-fluid .container {
  position:relative;
  top:50px;
}

.titulo {
  position: relative;

}

.container{
  width: 100%;
  padding-right: 10rem;
  padding-left: 5rem;
  margin-right: auto;
  margin-left: auto;
}


p{
  display: block;
  text-align: justify;
  margin-block-start: 1em;
  margin-block-end: 10rem;
  margin-inline-start: 0px;
  margin-inline-end: 60rem;
}

@media screen and (max-width: 500px) {
  .menu a{
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
  
  p{
    display: block;
    text-align: justify;
    margin-block-start: 1rem;
    margin-block-end: auto;
    margin-inline-start: 0px;
    margin-inline-end: 100px;
    color: var(--main-tx-color);
  }

  .container{
    margin-left: -3rem;
    
  }

  .jumbotron{
    margin-bottom: 0;
    margin-top: -4rem;
  }

  .jumbotron-fluid{
    background-image: url('images/book3.jpg');
    height:350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
  }

}
