
:root {
    --main-bg-color: #f2f2f2;
    --main-tx-color: #A0A698
  }

header{
  background-color: #eeeeee ;
}

html{
  overflow-x:hidden;
  box-sizing: border-box;
}

p{
  text-align: justify;
}

body{
    background-color: var(--main-bg-color);
    background-size: cover;
    color: var(--main-tx-color);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.tema-1 { color: #73022C; }
.tema-2 { color: #BF7D65; }
.tema-3 { color: #595948; }
.tema-4 { color: #A0A698; }
.tema-5 { color: #D3C6B7; }

h2{
  color: #73022C;  
}

.textoprincipal{
  color: #595948;
}

.btn{
  background-color: #73022C;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.menu {
  width: 100%;
  background-color: #f2f2f2;
  overflow: auto;
  border: 2px;
  margin: 0;
  margin-bottom: 0;
}

.menu a {
  width: auto;
  float: left;
  color: #73022C;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;  
}

.menu a:hover {
  background-color: var(--main-bg-color);
  color: var(--main-tx-color);
}

.menu a.active {
  
  background-color: #73022C;
  color: white;
  border: 2px; 
}

.jumbotron{
  margin-bottom: 0;
}

.jumbotron-fluid{
  background-image: url('images/book3.jpg');
  height:350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.jumbotron-fluid .container {
  position:relative;
  top:50px;
}

.titulo {
  position: relative;

}

.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.abertura{
  display: block;
  text-align: justify;
  margin-block-start: 1em;
  margin-block-end: 10rem;
  margin-inline-start: 0px;
  margin-inline-end: 60rem;
}

.col-md-4{
  flex: 0 0 30.333333%;
  max-width: 30.33333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.row{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

div{
  display: block;
}
