
:root {
    --main-bg-color: #EDF2C4;
    --main-tx-color: #025949
  }

body{
    background-color: var(--main-bg-color);
    color: var(--main-tx-color);
}

.tema-1 { color: #73022C; }
.tema-2 { color: #025949; }
.tema-3 { color: #53A687; }
.tema-4 { color: #EDF2C4; }
.tema-5 { color: #D98D62; }

